{% extends "./layout.twig" %}

{% block content %}

<header>
    <div class="container">
        <div class="row">
            <a href="#" class="col-6 header_link">Home</a>
            <a href="/admin" class="col-6 header_link">Admin</a>
        </div>
    </div>
</header>

<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-1">
                        <h1 id="slider_left"><img src="/static/img/left.png" alt=""></h1>
                    </div>
                    <div class="col-8">
                        <div id="slider">
                            <div id="polosa">
                                {% for slide in slider %}
                                <img src="{{ slide }}" class="slide-single" alt="">
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <h1 id="slider_right"><img src="/static/img/right.png" alt=""></h1>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="products">

                    {% for product in products %}
                        <div class="row card_product">
                            <div class="col-4">
                                <img class="img_product" src="{{ product.imagePath }}" alt="">
                            </div>
                            <div class="col-8">
                                <h4>{{ product.title }}</h4>
                                <h6>Price: {{ product.price }}</h6>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
    </div>
</section>

{% endblock %}
